# Environments
.env
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]
*.class

# Local App Settings
argus_prefs.json
metadata_cache.json
argus_alerts_log.txt
argus.db-shm
argus.db-wal
argus.db-journal

# OS Files
.DS_Store

