streamlit==1.41.0
python-dotenv
altair>=5.0.0,<6.0.0
pandas
yfinance>=1.2.0
curl-cffi>=0.15.0
requests
xgboost
scikit-learn
groq
plotly
streamlit-shadcn-ui
shap
SQLAlchemy
psycopg2-binary
matplotlib
numpy
streamlit-aggrid
st-annotated-text
streamlit-lottie
streamlit-extras
